@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Altima';
  src: url(./assets/fonts/Altima.ttf)
}

div {
  font-family: 'Altima';
}

.examineAnimation {
  animation: 1s infinite alternate leftRight;
}

.allowButtonAnimation {
  animation: 1s alternate enterFromRight;
}

.pointerAnimation {
  animation: 1s infinite alternate upDown;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

@keyframes enterFromRight {
  from {
    margin-left: 10px;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes leftRight {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 10px;
  }
}

@keyframes upDown {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 10px;
  }
}