@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Altima';
  src: url(./assets/fonts/Altima.ttf)
}

div {
  font-family: 'Altima';
}

.examineAnimation {
  animation: 1s infinite alternate leftRight;
}

@keyframes leftRight {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 10px;
  }
}